@{
    ViewBag.Title = "Главная страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Автоматизация работы предвыборной кампании</h1> <h6>для просмотра изменений процесса разработки перейдите в раздел <span style="color:red;font-weight:bold;">"Процесс разработки"</span></h6>
            </hgroup>
            @*<p>
                Здесь вся исчерпывающая информация об избирателях партии Ата-Мекен по городу Бишкек...
            </p>*@
        </div>
    </section>
}
<div style="text-align:center;">
    <img src="@Url.Content("~/Images/Resources/logo3.jpg")" />
</div>
<h3>6 модулей системы:</h3>
<ol class="round">
    <li class="one">
        <h5>Call-центр</h5><br />
    </li>

    <li class="two">
        <h5>Электронный документооборот</h5><br />
    </li>

    <li class="three">
        <h5>Информационные экраны для руководителя штаба каждого подразделения</h5><br />
    </li>
    <li class="four">
        <h5>SMS-центр</h5><br />
    </li>

    <li class="five">
        <h5>Оперативная база данных (подсчет голосов, явка, жалобы)</h5><br />
    </li>

    <li class="six">
        <h5>Exit-poll - предварительный подсчет результата голосования через эксит-полл опроса</h5><br />
    </li>

    <li class="seven">
        <h5>Статическая база (контакты сотрудников, их распределение по УИК, адреса УИК с отображением на карте и т.п.)</h5><br />
    </li>

</ol>
