
@{
    ViewBag.Title = "Монитор: Просмотр кандидатов";
}
@section heads {
    @Styles.Render("~/bundles/leaflet/base/css", "~/bundles/leaflet/label/css", "~/bundles/leaflet/awesome-markers/css")
}
<h2>Монитор: Просмотр кандидатов</h2>

<div id="map" style="width:800px;height:600px;float:right"></div>
<div id="precinctInfo">
    Выберите на карте УИК и здесь появится детальная информация...
</div>
@section scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        GetMap2();
    });
    function GetMap2() {
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib });
        map = new L.Map('map', { layers: [osm], center: new L.LatLng(42.874722, 74.612222), zoom: 13 });
        var latlngs = [];
        $.getJSON('@Url.Action("PrecinctsByCandidates")', function (data) {
            $(data).each(function (i, item) {
                console.log(item);
                    var latlng = L.latLng(item.Precinct.Latitude, item.Precinct.Longitude);
                    var marker = L.marker(latlng, {
                        id: item.Precinct.Id, precinctName: item.Precinct.Name, chartUrl: '@Url.Action("Precinct", "Chart")/' + item.Precinct.Id, icon: L.AwesomeMarkers.icon({
                        markerColor: item.Candidate != null ? item.Candidate.MarkerType : 'red'
                    }) }).bindPopup(L.popup().setContent("<div class='message-info'><b>УИК № " + item.Precinct.Name + "</b><hr style='margin-bottom:0px;' />" + item.CandidateName + "</div>")).bindLabel("<i>" + item.Precinct.Name + "</i>",
                        {
                            noHide: true
                        }).addTo(map);
                    marker.on('click', function (e) {
                        $(precinctInfo).html("<h4>Информация по УИК № " + e.target.options.precinctName + "</h4>");
                            $('<img/>').attr('src', e.target.options.chartUrl).appendTo(precinctInfo);
                        //console.log(e.target.options);
                    });
                    latlngs.push(latlng);
            });
            if (latlngs.length)
                map.fitBounds(L.latLngBounds(latlngs));
            });
        }

    </script>
    @Scripts.Render(
    "~/bundles/leaflet/base/js",
    "~/bundles/leaflet/label/js",
    "~/bundles/leaflet/awesome-markers/js")
}