@model Domain.Entities.Relationship

@using (Ajax.BeginForm("CreatePartial", "Relationship", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess"
}, new { id = "dialogRelationship" }))
{
    <h3>Добавление типа взаимоотношений</h3>
    <div class="editor-label">
        @Html.LabelFor(model => model.Type)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Type)
        @Html.ValidationMessageFor(model => model.Type)
    </div>
}
