@model IEnumerable<VoterManager.Models.WorkerViewModel>

@{
    ViewBag.Title = "Список работников штаба";
}

<h2>Список работников штаба</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table class="entityList">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Worker.PersonId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Открыть", "Show", new { id = item.Worker.Id })
            </td>
            <td>
                @if (item.Person != null)
                {
                    @Html.ActionLink(item.Person.FullName, "Show", "Person", new { Id = item.Person.Id }, new { title = "Просмотр гражданина" })
                }
                else
                {
                    <text>не указан</text>
                }
            </td>
        </tr>
    }

</table>
